<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>@ViewBag.Title - My ASP.NET Application</title>
  @Styles.Render("~/Content/css")
  <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
</head>
<body>
  <div class="site-wrapper">
    <div class="site-wrapper-inner">
      <div class="masthead-background"></div>
      <div class="cover-container">
        <div class="masthead clearfix">
          <div class="inner">
            <h3 class="masthead-brand">Ideboaas</h3>
            @Html.Partial("_LoginPartial")
            <ul class="nav masthead-nav">
              <li class="active">@Html.ActionLink("Home", "Index", "Home")</li>
              <li>@Html.ActionLink("Booking", "Index", "Booking")</li>
              <li>@Html.ActionLink("Billeder", "Index", "Media")</li>
              @*<li>@Html.ActionLink("Login", "Login", "Account")</li>*@
            </ul>

          </div>
        </div>
        @RenderBody()
        <div class="mastfoot">
          <div class="inner">
            <p>By Thomas Andersen with Twitter Boostrap</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  @Scripts.Render("~/bundles/js")
  @RenderSection("Scripts", false)
  <script type="text/javascript">
    if (page) {
      page.initialize();
    }
  </script>
</body>
</html>
